<script>


</script>

<div id="kuumotuskelloLayout">

  <div class="row card" style="background-color:black;margin:auto;">
    <div class="small-12 columns card kuumotuskelloKortti">
      <h1 class="keskitaOtsikko animated fadeIn" style="font-family: 'Comfortaa', cursive;color:lime">{{name}} </h1>
      <div id="kuumotuskello">
      </div>
    </div>
    <div class="small-12 columns">
      <button id="tuhoamisNappi" class="button animated" ng-click="destroyKuumotus()" style="float:right;background:#056641;">Tuhoa </button>
    </div>
  </div>
</div>

<!-- paljon aikaa -->
<div id="piilotaChilliRiku">
  <div class="row card animated fadeIn" style="margin-top:20px; background-image: url(img/alota.jpg);background-repeat: no-repeat;
background-size: cover;
padding:5%;">
    <div class="small-12  columns keskitaOtsikko">
      <h1 class="megaOtsikko " style="font-family: 'Comfortaa', cursive;color:white;">Ei mitään kiirettä</h1>
    </div>
  </div>
</div>
<!-- jonkun verran -->
<div id="piilotaPohtivaRiku">
  <div class="row card animated fadeIn" style="margin-top:20px; background-image: url(img/rikutekee2.jpg);background-repeat: no-repeat;
background-size: cover;
padding:15%;">
    <div class="small-12  columns keskitaOtsikko" >
      <h1 class="megaOtsikko " style="font-family: 'Comfortaa', cursive;color:white;">Alottaakko vai eikö alottaa?</h1>
    </div>
  </div>
</div>
<!-- alle 3 päivää -->
<div id="piilotaRiku">
  <div class="row card animated bounce infinite korttiRiku" style="  background-image: url(img/kuumariku.jpeg);">
    <div class="small-12  columns keskitaOtsikko">
      <h1 class="megaOtsikko " style="font-family: 'Comfortaa', cursive;color:white;">Rupeeko olemaan kuuma?</h1>
    </div>
  </div>
</div>
<!-- alle päivä -->
<div id="piilotaKuumaRiku">
  <div class="row card korttiRiku" id="kuuma" style="  background-image: url(img/kuumottaa.jpg);	background-position: 0px 0px;
  	animation: animatedBackground 20s linear infinite;">
    <div class="small-12  columns keskitaOtsikko">
      <h1 class="megaOtsikko animated shake infinite " style="font-family: 'Comfortaa', cursive;color:white;">Hopi hopi </h1>
    </div>
  </div>
</div>

<!-- meni jo -->
<div id="piilotaRIPTunna">
  <div class="row card animated fadeIn" style="margin-top:20px;">
    <img src="img/riptunna.jpg" style="width:100%">
  </div>

</div>
